::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #212226ff; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #7A1EFCff; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }